@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    margin: 0;
    background: #e5e7e9;
    color: #070707;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(12px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@utility animate-fade-in {
    animation: fade-in 0.4s ease-out;
}